body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.loading {
    background-image: url(../img/ajax-loader.gif);
    width: 56px;
    height: 21px;
    margin-top: 8px;
}

.well .no-top {
    padding-top: 0px;
}

textarea.description {
    min-height: 150px;
    resize: vertical;
}

textarea.description.readonly {
    background-color: #fff;
}

input.ng-valid.ng-dirty:focus {
    background-color: #78FA89;
}

input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

button.listaction {
    margin-left: 6px;
}

i.delete {
    color: #CC4036;
}

select.select-xlarge {
    width: 280px;
    margin-top: 3px;
}

select,button.list-add{
    margin-top: 3px;
}

.row-fluid-fix [class*="span"]:first-child {
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
}