<form class="form-horizontal">
<div class="well no-top">
	<fieldset>
		<legend>Product</legend>
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<span class="input-xlarge uneditable-input" id="name">{{product.name}}</span>
			</div>
		</div>

		<div class="control-group">

			<label class="control-label" for="stock">Stock</label>
			<div class="controls">
				<span class="input-xlarge uneditable-input" id="stock">{{product.stock}}</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="created">Created</label>
			<div class="controls">
				<span class="input-xlarge uneditable-input" id="created">{{product.created | date:'yyyy-MM-dd'}}</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="price">Price</label>
			<div class="controls">
				<span class="input-xlarge uneditable-input" id="price">{{product.price | currency}}</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="category">Categories</label>
			<div class="controls">
				<span class="input-xlarge uneditable-input" id="category">{{product.category.name}}</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="tags">Tags</label>
			<div class="controls">
				<ul class="icons-ul" id="tags">
					<li ng-hide="product.tags">
						<i class="icon-li icon-check-empty"></i>
						None
					</li>
					<li ng-repeat="tag in product.tagObjs">
						<i class="icon-li icon-check"></i>
						<a ng-href="/#/viewTag/{{tag.id}}">{{tag.name}}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="description">Description</label>
			<div class="controls">
				<textarea disabled class="input-xlarge uneditable-input description readonly" id="description">{{product.description}}</textarea>
			</div>
		</div>
	</fieldset>
</div>
<div class="form-actions">
	<button class="btn btn-primary" ng-click="edit()">Edit</button>
	<button class="btn btn-danger" ng-click="remove()">Delete</button>
</div>
</form>