<form  name="productForm" ng-submit="save()" class="form-horizontal">
  <div class="well no-top">
    <fieldset>
      <legend ng-show="!product.id">Create Product</legend>
      <legend ng-show="product.id">Edit Product</legend>
      <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input ng-model="product.name" class="input-xlarge" id="name" focus required></div>
      </div>

      <div class="control-group" ng-class="{error: productForm.stock.$error.integer}">
        <label class="control-label" for="stock">Stock</label>
        <div class="controls">
          <input ng-model="product.stock" type="number" min="0" class="input-xlarge" id="stock" name="stock" required integer>
          <span ng-show="productForm.stock.$error.integer" class="help-inline">Niepoprawna ilość</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="created">Created</label>
        <div class="controls">
          <div ng-controller="DatepickerCtrl">
            <input ng-model="product.created" type="text" show-weeks="false" datepicker-popup="dd-MMMM-yyyy" open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" class="input-xlarge" id="created" />
            <button type='button' class="btn" ng-click="openDatePicker()"> <i class="icon-calendar"></i>
            </button>
          </div>

        </div>
      </div>

      <div class="control-group" ng-class="{error: productForm.price.$error.float}">
        <label class="control-label" for="price">Price</label>
        <div class="controls">
          <input ng-model="product.price" min="0" class="input-xlarge" id="price" name="price" required price>
          <span ng-show="productForm.price.$error.float" class="help-inline">Niepoprawny format ceny</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="categories">Categories</label>
        <div class="controls">
          <select ng-model="product.category" ng-options="category.name for category in categoryList" id="categories"></select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="tags">Tags</label>
        <div class="controls">
          <ul id="tags" class="unstyled" ng-controller="ProductTagCtrl">
            <li ng-repeat="tag in product.tagObjs">
              <div>
                <!-- <a ng-href="/#/viewCategory/{{tag.id}}">{{tag.name}}</a>
              -->
              <span class="input-xlarge uneditable-input">{{tag.name}}</span>
              <a class="btn btn-small" ng-click="removeTag($index)">
                <i class="icon-remove icon-small"></i>
              </a>
            </div>
          </li>
          <li>
            <select ng-model="addedTag" class="select-xlarge list-add" ng-options="tag.name for tag in tagList | tagFilter:this"></select>
            <button type="button" class="btn btn-small list-add" ng-click="addTag()" ng-disabled="!addedTag" >
              <i class="icon-plus icon-small"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <textarea class="input-xlarge description" id="description" ng-model="product.description"></textarea>
      </div>
    </div>

  </fieldset>
</div>
<div class="form-actions">
  <button class="btn btn-primary" ng-disabled="productForm.$invalid">Save</button>
  <button type="button" ng-click="cancel()" class="btn">Cancel</button>
</div>
</form>