<div class="container-fluid">
	<form  name="productForm" class="form-horizontal" ng-submit="search()">
		<div class="well no-top">
			<legend>Search criteria</legend>
			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					<input ng-model="query['q']" class="input-xlarge" id="name" focus typeahead-on-select="search()" typeahead="description for description in descriptions | filter:$viewValue | limitTo:15" />
				</div>
			</div>
			<div class="control-group" ng-repeat="criteria in searchResults.facet | facetOptionFilter">
				<label class="control-label" for="{{criteria.name}}">{{criteria.name}}</label>
				<div class="controls">
					<input ng-model="query[criteria.name]" class="input-xlarge" id="{{criteria.name}}" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn btn-primary" value="Search">
					<input type="reset" class="btn btn-inverse" value="Clear"></div>
			</div>
			<pre>{{query | json}}</pre>
		</div>
	</form>
	<div class="alert alert-success" ng-show="resultCount">Found {{resultCount}} in {{searchTime}}s</div>
	<div class="alert alert-info" ng-show="searchInProgress">Search in progress</div>
	<div class="alert alert-error" ng-show="searchError">Error: {{searchError}}</div>
</div>
<div class="container-fluid">
	<div class="row-fluid row-fluid-fix">
		<div class="span2 well" ng-repeat="product in searchResults.data">
			<a ng-href="/#/viewProduct/{{product.id}}">{{product.name}}</a>
			<br />
			Price:
			<span>{{product.price | currency}}</span>
			<br />
			Stock:
			<span>{{product.stock}}</span>
			<br />
			Category:
			<span>{{product.category_id}}</span>
			<br />
			Tag:
			<span>{{product.tags}}</span>
			<br />
			Description:
			<span>{{product.description}}</span>
		</div>
	</div>
</div>