<div class="container-fluid">
	<form  name="productForm" class="form-horizontal" ng-submit="search()">
		<div class="well no-top">
			<legend>Search criteria</legend>
			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					<input ng-model="query['q']" class="input-xlarge" id="name" focus typeahead-on-select="search()" typeahead="description for description in suggest($viewValue)" />
				</div>
			</div>
			<div class="control-group" ng-repeat="criteria in searchResults.facet | facetOptionFilter">
				<label class="control-label" for="{{criteria.name}}">{{searchFacets[criteria.name].label}}</label>
				<div class="controls">
					<input ng-model="query[criteria.name]" class="input-xlarge" id="{{criteria.name}}" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn btn-primary" value="Search">
					<input type="reset" class="btn btn-inverse" value="Clear"></div>
			</div>
			<pre>{{query | json}}</pre>
		</div>
	</form>
	<div class="alert alert-success" ng-show="resultCount">Found {{resultCount}} in {{searchTime}}s</div>
	<div class="alert alert-info" ng-show="searchInProgress">Search in progress</div>
	<div class="alert alert-error" ng-show="searchError">Error: {{searchError}}</div>
</div>
<div class="container-fluid">
	<div class="row-fluid row-fluid-fix">
		<pre>Sorting predicate = {{sortOptions.predicate}}; reverse = {{sortOptions.reverse}}</pre>
		<table class="table table-striped">
			<tr>
				<th><a class="sortable" clicked="sort(attribute, order)" options="sortOptions" atribute="name"></a></th>
				<th><a class="sortable" clicked="sort(attribute, order)" options="sortOptions" atribute="price"></a></th>
				<th><a class="sortable" clicked="sort(attribute, order)" options="sortOptions" atribute="stock"></a></th>
				<th><a class="sortable" clicked="sort(attribute, order)" options="sortOptions" atribute="category_id"></a></th>
				<th><a class="sortable" clicked="sort(attribute, order)" options="sortOptions" atribute="tags"></a></th>
				<th><a class="sortable" clicked="sort(attribute, order)" options="sortOptions" atribute="description"></a></th>
			</tr>
			<tr ng-repeat="product in searchResults.data | orderBy:sortOptions.predicate:sortOptions.reverse" ng-click="view('/viewProduct/' + product.id)">
				<td>{{product.name}}</td>
				<td>{{product.price | currency}}</td>
				<td>{{product.stock}}</td>
				<td>{{product.category_id}}</td>
				<td>{{product.tags}}</td>
				<td>{{product.description}}</td>
			</tr>
		</table>
	</div>
</div>