<!-- <h3>Ingredients</h3>
<span ng-show="product.ingredients.length == 0">No Ingredients</span>
<ul class="unstyled" ng-hide="product.ingredients.length == 0">
<li ng-repeat="ingredient in product.ingredients">
	<span>{{ingredient.amount}}</span>
	<span>{{ingredient.amountUnits}}</span>
	<span>{{ingredient.ingredientName}}</span>
</li>
</ul>
-->
<form class="form-horizontal">
<div class="well no-top">
	<fieldset>
		<legend>Product</legend>
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<span class="input-xlarge uneditable-input" id="name">{{product.name}}</span>
			</div>

			<label class="control-label" for="stock">Stock</label>
			<div class="controls">
				<span class="input-xlarge uneditable-input" id="stock">{{product.stock}}</span>
			</div>

			<label class="control-label" for="created">Created</label>
			<div class="controls">
				<span class="input-xlarge uneditable-input" id="created">{{product.created | date:'yyyy-MM-dd'}}</span>
			</div>

			<label class="control-label" for="price">Price</label>
			<div class="controls">
				<span class="input-xlarge uneditable-input" id="price">{{product.price | currency}}</span>
			</div>

			<label class="control-label" for="description">Description</label>
			<div class="controls">
				<textarea disabled class="input-xlarge uneditable-input description readonly" id="description">{{product.description}}</textarea>
			</div>

		</div>
	</fieldset>
</div>
<div class="form-actions">
	<button class="btn btn-primary" ng-click="edit()">Edit</button>
	<button class="btn btn-danger" ng-click="remove()">Delete</button>
</div>
</form>