<form  name="productForm" ng-submit="save()" class="form-horizontal">
  <div class="well no-top">
    <fieldset>
      <legend ng-show="!product.id">Create Product</legend>
      <legend ng-show="product.id">Edit Product</legend>
      <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input ng-model="product.name" class="input-xlarge" id="name" focus required></div>
      </div>

      <div class="control-group">
        <label class="control-label" for="stock">Stock</label>
        <div class="controls">
          <input ng-model="product.stock" type="number" min="0" class="input-xlarge" id="stock" name="stock" required integer>
          <span ng-show="productForm.stock.$error.integer">Niepoprawna ilość</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="created">Created</label>
        <div class="controls">
          <div ng-controller="DatepickerCtrl">
            <input ng-model="product.created" type="text" show-weeks="false" datepicker-popup="dd-MMMM-yyyy" open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" class="input-xlarge" id="created" />
            <button type='button' class="btn" ng-click="openDatePicker()"> <i class="icon-calendar"></i>
            </button>
          </div>

        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="price">Price</label>
        <div class="controls">
          <input ng-model="product.price" type="number" min="0" class="input-xlarge invalid" id="price" name="price" required price>
          <span ng-show="productForm.price.$error.float">Niepoprawny format ceny</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="categories">Categories</label>
        <div class="controls">
          <ul id="categories" class="unstyled" ng-controller="ProductCategoriesCtrl">
            <li ng-repeat="category in product.categories">
              <div>
                <a ng-href="/#/viewCategory/{{category.id}}">{{category.name}}</a><button type="button" class="btn btn-mini" ng-click="removeCategory($index)"><i class="icon-minus-sign"></i>Delete</button>
              </div>
            </li>
            <button type="button" class="btn btn-mini" ng-click="addCategory()"><i class="icon-plus-sign"></i>Add</button>
          </ul>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
          <textarea class="input-xlarge description" id="description" ng-model="product.description"></textarea>
        </div>
      </div>

    </fieldset>
  </div>
  <div class="form-actions">
    <button class="btn btn-primary" ng-disabled="productForm.$invalid">Save</button>
    <button type="button" ng-click="cancel()" class="btn">Cancel</button>
  </div>
</form>